@mixin btn($btn-bg, $btn-text, $btn-border) {
    background-color: $btn-bg;
    color: $btn-text;
    transition: $transition;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: $font-normal;
    letter-spacing: 3px;
    border-radius: $radius;
    
    cursor: pointer;

    &:hover {
      background: lighten($btn-bg, 5%);
      text-decoration: none;
      text-transform: uppercase;
      color: $btn-text;
    }

    &.disabled, &[disabled] {
      background: desaturate($btn-bg, 100%);
      cursor: not-allowed;
    }
  }

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin center($position) {
  position: $position;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle($radius) {
  border-radius: 50%;
  height: $radius;
  width: $radius;
}

@mixin img($width, $height) {
  width: $width;
  height: $height;
  overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}


@mixin ikons ($color, $font-size) {
  color: $color;
  font-size: $font-size;
}


/*Helpers*/

.no-spacing {
  margin: 0;
  padding: 0;
}

/* rotation from hamburger to x */

.hamburger-to-X .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.hamburger-to-X .line-2 {
  opacity: 0;
}
.hamburger-to-X .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}