@mixin btn($btn-bg, $btn-text, $btn-border) {
    background-color: $btn-bg;
    color: $btn-text;
    transition: $transition;
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: $font-normal;
    letter-spacing: 3px;
    border-radius: $radius;
    
    cursor: pointer;

    &:hover {
      background: lighten($btn-bg, 5%);
      text-decoration: none;
      text-transform: uppercase;
      color: $btn-text;
    }

    &.disabled, &[disabled] {
      background: desaturate($btn-bg, 100%);
      cursor: not-allowed;
    }
  }

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin center($position) {
  position: $position;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle($radius) {
  border-radius: 50%;
  height: $radius;
  width: $radius;
}

@mixin shadow-box($color-background) {
  background-color: $color-background;
  box-shadow: gray;
}

/*Helpers*/

.no-spacing {
  margin: 0;
  padding: 0;
}



