/* colors */
$color-main: #f6b141;
$color-dark: #5a4b47;
$color-light: #fff;
$color-neutral: #f4f4f4;

$color-danger: #e55039;
$color-success: #59b66d;
$transparent: transparent;

/*fonts*/

$header-font: 'Oswald', sans-serif;
$default-font: 'Roboto', sans-serif;
$handwriting-font: 'Pacifico', cursive;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$base-size: 16px;

/* Animation */
$transition: all .3s;

/*Another*/
$cornerSize: 25px;
$radius: 4px;

/*respons*/

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;