@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import "./settings.scss";

.h1 {
    font-family: $header-font;
    font-weight: $font-bold;
    font-size: 72px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $color-light;

    span {
        color: $color-main;
    }
}
  
.h2 {
    font-family: $header-font;
    font-size: 46px;
    font-weight: $font-semibold;
    text-transform: uppercase;
    color: $color-dark;
}

.h3 {
    font-size: 24px;
    margin: 0 0 12;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: $color-dark;
}

.h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: $font-bold;
    color: $color-dark;
}


@media screen and (max-width: $screen-lg) {
    .h1 {
        font-size: 60px;
    }
    .h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: $screen-sm) {
    .h1 {
        font-size: 50px;
    }
    .h2 {
        font-size: 25px;
    }
}