@import '../../styles/settings.scss';
@import '../../styles/typography.scss';
@import '../../styles/mixins.scss';

.navbar {
    background-color: $color-dark;
    @include flex (row, center,center);
    padding: .5rem 6rem;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .navbar-links {
        flex: 1;
        @include flex (row, center, space-around);

        .navbar-links_logo {
            padding: 20px 20px;
            img {
                z-index: 999;
            }
        }

        .navbar-links_container {
            display: flex;
            flex-direction: row;
        }
    }

    .navbar-menu {
        margin-left: 1rem;
        display: none;
        position: relative;
        
        svg {
            cursor: pointer;
            z-index: 999;
        }

        .navbar-menu_container {
           
            .navbar-menu-container_links {
                @include flex (column, center, flex-end);
                background-color: $color-neutral;
                position: absolute;
                top: 4.2rem;
                right: 0px;
                width: 100vw;
                padding: 1rem 0;
            }

            a {
                margin: 1rem ;
                color: $color-dark;
                margin: 0;
                padding: 16px;
                transition: $transition;

                &:hover {
                    color: $color-main;
                    background-color: $color-neutral;
                }
            }
        }
    }
}

.navbar-menu-container_links a,
.navbar-links_container a {
    color: $color-light;
    font-weight: $font-bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 25px;
    // margin: 0 1rem;
    transition: $transition;
    display: inline-block;
    padding: 20px 20px;
    letter-spacing: 3px;
    width: 150px;

    &:hover {
        background: lighten($color-dark, 5%);
        color: $color-light;
    }
}


@media screen and (min-width: $screen-md) {
    .navbar {
        padding: 0 6rem;
        min-height: 5rem;

        .navbar-links {

            .navbar-links_logo {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    .navbar {
        padding: 1rem 0;
        width: 100%;

        .navbar-links {
            @include flex (row, center, space-between);
            margin-left: 4rem;
            .navbar-links_container {
                display: none;
            }
        }

        .navbar-menu {
            display: flex;
            svg {
                margin-right: 4rem;
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .navbar {
        padding: 1rem 0;

        .navbar-links {
            margin-left: 2rem;
        }

        .navbar-menu {
            svg {
                margin-right: 2rem;
            }
        }
    }
}