@import '../../styles/settings.scss';
@import '../../styles/typography.scss';
@import '../../styles/mixins.scss';

.splash {
    height: 70vh;
    position: relative;
    top: 6vh;
    background-image: url('../../assets/img/splash.jpg');
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
    color: $color-light;
    z-index: -1;
  
    .splash-inner {
      @include center(absolute);
      padding: 1%;
    }
  
    h2 {
      @extend .h2;
      color: $color-light;
    }
  
    .splash-inner {
      h1 {
        @extend .h1;
      }

      .page-title {
          padding-bottom: 2rem;
      }


    }
}